<!DOCTYPE html>
{% load static %}
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->

<head>
    <title>Karu Redcross | {% block title %}  {% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="title" content="" />
    <link type="image/x-icon" href="{% static 'image/tab-icon.png' %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRoboto+Slab:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'  %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/danveer.css' %}">
</head>

<body>
    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="spinner">
            <img src="{% static 'image/tab-icon.svg' %}" alt="loader" class="loading">
            <h5 class="line-height-50 font-18">Loading...</h5>
        </div>
    </div>
    <!-- END PRELOADER -->
    <!-- HEADER START -->
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg header">
            <div class="container p-0">
                <a class="navbar-brand" href="{% url 'core:index' %}"><img src="{% static 'image/logo.png' %}" alt="logo"></a>
                <button class="navbar-toggler collapsed ml-auto mt-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto mobilemenu">
                        <li class="nav-item dropdown active">
	       					<a class="nav-link"  href="{% url 'core:index' %}" data-toggle="dropdown" aria-expanded="false">HOME<span class="sr-only">(current)</span></a>
                           
	      				</li>
                        <li class="nav-item dropdown megamenu">
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">BLOG</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#">EVENTS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">MORE</a>
                            <ul id="blogDropdown" class="dropdown-menu" aria-labelledby="blogDropdown">
                                <li class="dropdown"><a href="{% url 'core:team-view' %}" data-toggle="dropdown" aria-expanded="false">Team</a></li>
                                <li class="dropdown"><a href="{% url 'core:about-us' %}" data-toggle="dropdown" aria-expanded="false">Gallery</a></li>
                                <li class="dropdown"><a href="{% url 'core:about-us' %}" data-toggle="dropdown" aria-expanded="false">About Us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:contact-us' %}">CONTACT US</a>
                        </li>
                        <li class="nav-item donate d-none d-lg-block">
                            <a href="causes-detail.html">DONATE NOW</a>
                        </li>
                        <li class="mob-donate d-sm-block d-lg-none">
                            <a class="nav-link" href="causes-detail.html">DONATE NOW</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER END -->


    {% block body %}

    {% endblock body %}



     <!-- FOOTER START -->
     <footer class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="{% static 'core:index' %}"><img class="footer-logo" src="{% static 'image/footer-logo.png' %}" alt="footer-logo"></a>
                    <p class="footer-p">At vero eos et accusamus et iusto odio
                        <br>ducimus qui blanditiis praesent</p>
                    <ul class="footer-detail pl-0">
                        <li>
                            <img src="{% static 'image/location.png' %}" class="" alt="address">
                            <span class="company-detail">203,Envato Labs,Behind Alis Steet,<br/>Melbourne,Australia.</span>
                        </li>
                        <li>
                            <img src="image/mail.png" class="" alt="mailaddress">
                            <a href="#" class="company-detail">demo@email.com</a>
                        </li>
                        <li>
                            <img src="image/phone.png" class="" alt="phone">
                            <a href="tel:+911234567890" class="company-detail">+91 123 456 789 0</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-links">
                    <h3 class="heading-five">About Us</h3>
                    <ul class="footer-menu p-0">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="{% url 'core:team-view' %}">Team</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Desktop App</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Report Bug</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-links">
                    <h3 class="heading-five">Our Services</h3>
                    <ul class="footer-menu p-0">
                        <li><a href="#">Education</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Desktop App</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Report Bug</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 footer-links">
                    <h3 class="heading-five">Get in Touch</h3>
                    <ul class="footer-menu p-0">
                        <li><a href="#">Get Support</a></li>
                        <li><a href="#">Advertise with Us</a></li>
                        <li><a href="#">Carrers</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Merchandise</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        <p class="pl-3">&copy; Danveer all Rights Reserved. Designed by <a href="https://templatescoder.com/" target="_blank">TemplatesCoder</a></p>
                    </div>
                    <div class="social-icon ml-auto mr-3">
                        <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Follow on google-plus"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
    <!-- FOOTER SCRIPTS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js'  %}"></script>
    <script src="{% static 'js/custom.js'  %}"></script>
</body>
</html>