    <!-- MAIN START -->
    {% extends 'base.html' %}
    <main class="main">
        <div class="blog-banner text-left">
            <div class="banner-content">
                <div class="container pl-0">
                    <h1 class="heading-three">Blog</h1>
                </div>
            </div>
        </div>
        <div class="blog-part paddingub">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-xs-12 px-0 order-2 order-md-2 order-lg-1 wid pl-lg-3 pl-xl-0">
                        <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
                            <div class="sidebar-content">
                                <div class="sidebar-category sidebar-default">
                                    <div class="category-content searching">
                                        <input type="text" name="name" placeholder="Search text...">
                                        <i class="fa fa-search" title="search"></i>
                                    </div>
                                </div>
                                <div class="sidebar-category cat-data sidebar-default">
                                    <div class="category-content">
                                        <div class="cat-detail">
                                            <h2 class="cat-title">CATEGORIES</h2>
                                            <ul class="cat-grp pl-0 mb-0">
                                                <li class="cat-item"><a href="#" class="cat-link">Cooking</a></li>
                                                <li class="cat-item"><a href="#" class="cat-link">Delicious</a></li>
                                                <li class="cat-item"><a href="#" class="cat-link">Fry Types</a></li>
                                                <li class="cat-item"><a href="#" class="cat-link">Recipes</a></li>
                                                <li class="cat-item"><a href="#" class="cat-link">Starters</a></li>
                                                <li class="cat-item mb-0"><a href="#" class="cat-link">Cooked</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-category sidebar-default">
                                    <div class="category-content">
                                        <div class="category-title">
                                            <span class="cate-heading">GALLERY</span>
                                        </div>
                                        <div class="gal-grp">
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class="gal-img mb-2">
                                            </a>
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class="gal-img mb-2">
                                            </a>
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class=" mb-2">
                                            </a>
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class="gal-img mb-2">
                                            </a>
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class="gal-img mb-2">
                                            </a>
                                            <a href="{% url 'gallery' %}">
                                                <img src="{static 'image/gallery1.png'}" alt="gallery-img" class="mb-2">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-category sidebar-default">
                                    <div class="category-content">
                                        <div class="category-title">
                                            <span class="cate-heading">TAGS</span>
                                        </div>
                                        <div class="tags">
                                            <a href="#" class="tag mr-2">Home Offices</a>
                                            <a href="#" class="tag">Swimming Pools</a>
                                            <a href="#" class="tag">Patios</a>
                                            <a href="#" class="tag">Kitchens</a>
                                            <a href="#" class="tag">Libraries</a>
                                            <a href="#" class="tag mb-0">Living Rooms</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-category sidebar-default">
                                    <div class="category-content">
                                        <div class="category-title">
                                            <span class="cate-heading">RECENT POSTS</span>
                                        </div>
                                        <div class="recent-post">
                                            <div class="recent img-box inline">
                                                <a href="#"><img src="image/post1.png" alt="related-prod-img" class="float-left"></a>
                                                <div class="recent-detail float-left">
                                                    <a href="#" class="post-title">Inspiring Presence of Design Thanks</a>
                                                    <span class="post-date">August 2,2019</span>
                                                </div>
                                            </div>
                                            {% comment %} We will use a for loop to fetch blogs in the database {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-xs-12 col-lg-8 pad order-1 order-md-1 order-lg-2 wid pr-lg-3 pr-xl-0">
                        <div class="blog-part img-box">
                            <a class="blog-img overlay img-box over-none" href="blog-detail.html">
                                <img src="image/blog-img.jpg" alt="blog-img">
                            </a>
                            <div class="blog-detail">
                                <a href="blog-detail.html"><h2 class="blog-head-two">How To Cook The Spicy Chinese Noodle For Cold Weather</h2></a>
                                <span class="blog-span">by John Doe in Andaman &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;12 june 2019</span>
                                <p class="blog-p">
                                    Sed ut perspiciatis  omnis this is it natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam
                                </p>
                                <a href="blog-detail.html" class="readmore">Read more</a>
                            </div>
                        </div>
                
                        <div class="page-number ml-lg-0 marl-0">
                            <ul class="pagination padingl-0">
                                <li class="page-item prev">
                                    <a class="page-link" href="#"></a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item next">
                                    <a class="page-link" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN END -->
   