{% extends 'base.html' %}

{% load static %}



{% block body %}
<main class="main">
    <div class="blog-masonry-banner  text-left">
        <div class="banner-content">
            <div class="container pl-0">
                <h1 class="heading-three">Blog</h1>
            </div>
        </div>
    </div>
    <div class="blog-detail-part paddingub">
        <div class="container img-box">
            <div class="blog-part img-box">
                <a href="blog.html" class="blog-img overlay over-none">
                    <img src="{% static 'image/blog-detail.jpg' %}" alt="blog-detail">
                </a>
            </div>
            <div class="detail-part">
                <h2 class="title-two">The Beginning of Everything as quexcepturi We know</h2>
                <p class="title-p">by John Doe in Andaman &nbsp;&nbsp; | &nbsp;&nbsp; 12 june 2019</p>
                <p class="detail-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,</p>
                <div class="tag-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor
                </div>
                <p class="detail-p">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, sequi nesciunt. Neque porro quisquam
                </p>
                <div class="taged">
                    <p><strong>Tagged by</strong>
                        <a href="#">Business</a>
                        <a href="#">Creative</a>
                        <a href="#">One Page</a>
                    </p>
                </div>
                <div class="blog-sec-line"></div>
                <div class="bloger-detail text-center">
                    <img src="{% static 'image/bloger-img.png' %}" alt="bloger-img">
                    <a href="#"><h3 class="bloger-name">John Doe</h3></a>
                    <p class="bloger-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <div class="social-icon ml-auto mr-3">
                        <a href="#" title="Follow on Facebook"><i class="fa active fa-facebook"></i></a>
                        <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Follow on linkedin"><i class="fa  fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="blog-sec-line"></div>
                <div class="comments-part">
                    <h3 class="com-head-three">04 Comments</h3>
                    <div class="comment position-r">
                        <div class="comm-img">
                            <img src="{% static 'image/comments-img.png' %}" class="float-left" alt="comments">
                        </div>
                        <div class="comment-detail">
                            <div class="float-none float-md-left mb-2">
                                <h4 class="head-four">John Doe</h4>
                                <p class="date-text">December 25,2019 - 3:33 pm</p>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <a href="#" class="reply-btn">Reply<img src="{% static 'image/reply-icon.png' %}" alt="reply-icon"></a>
                        </div>
                    </div>
                    <div class="comment position-r">
                        <div class="comm-img">
                            <img src="{% static 'image/comments-img1.png' %}" class="float-left" alt="comments">
                        </div>
                        <div class="comment-detail">
                            <div class="float-none float-md-left mb-2">
                                <h4 class="head-four">John Doe</h4>
                                <p class="date-text">December 25,2019 - 3:33 pm</p>
                            </div>
                            <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <a href="#" class="reply-btn">Reply<img src="{% static 'image/reply-icon.png'  %}" alt="reply-icon"></a>
                        </div>
                    </div>
                    <div class="comment mb-0 position-r">
                        <div class="comm-img">
                            <img src="{% static 'image/comments-img2.png' %}" class="float-left" alt="comments">
                        </div>
                        <div class="comment-detail">
                            <div class="float-none float-md-left mb-2">
                                <h4 class="head-four">John Doe</h4>
                                <p class="date-text">December 25,2019 - 3:33 pm</p>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <a href="#" class="reply-btn">Reply<img src="{% static 'image/reply-icon.png' %}" alt="reply-icon"></a>
                        </div>
                    </div>
                </div>
                <div class="blog-sec-line"></div>
                <div class="comm-form">
                    <h3 class="comm-head-three">Leave a Comment</h3>
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Your Name*">
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Email*">
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Website">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Review*"></textarea>
                        </div>
                        <button class="btn submit-comment" type="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-part detail paddingub pt-0">
        <div class="container">
            <h3 class="related-three">Related News</h3>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="blog-part">
                        <div class="blog-part img-box position-r">
                            <a href="blog.html" class="blog-img overlay over-none"><img src="{% static 'image/gallery-img1.png' %}" alt="blog-img"></a>
                            <div class="date">19 April 2018</div>
                        </div>
                        <div class="blog-detail">
                            <a href="blog.html"><h4 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h4></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="blog-part">
                        <div class="blog-part position-r img-box">
                            <a href="blog.html" class="blog-img overlay over-none"><img src="{% static 'image/gallery-img2.png'  %}" alt="blog-img"></a>
                            <div class="date">19 April 2018</div>
                        </div>
                        <div class="blog-detail">
                            <a href="blog.html"><h4 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h4></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="blog-part">
                        <div class="blog-part img-box position-r">
                            <a href="blog.html" class="blog-img overlay over-none"><img src="{% static 'image/gallery-img3.png' %}" alt="blog-img"></a>
                            <div class="date">19 April 2018</div>
                        </div>
                        <div class="blog-detail mbottom-0">
                            <a href="blog.html"><h4 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h4></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}