{% extends 'base.html'  %}

{% load static %}


{%  block body %}
<main class="main">
    <div class="blog-masonry-banner text-left">
        <div class="banner-content">
            <div class="container pl-0">
                <h1 class="heading-three">Blog Masonry</h1>
            </div>
        </div>
    </div>
    <div class="blog-part masonry paddingub mob-py-30">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img1.jpg' %}" alt="blog-img">
                        </a>
                        <div class="blog-detail">
                            <a href="blog-detail.html"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img4.jpg' %}" alt="blog-img">
                        </a>
                        <div class="blog-detail">
                            <a href="blog-detail.html"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img2.jpg' %}" alt="blog-img">
                        </a>
                        <div class="blog-detail">
                            <a href="blog-detail.html"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img3.jpg' %}" alt="blog-img">
                        </a>
                        <div class="blog-detail mb-4 mb-sm-0">
                            <a href="blog-detail.html"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img6.jpg'  %}" alt="blog-img">
                        </a>
                        <div class="blog-detail">
                            <a href="blog-detail"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                    <div class="blog-part img-box">
                        <a href="blog-detail.html" class="blog-img overlay over-none">
                            <img src="{% static 'image/blog-masonry-img5.jpg' %}" alt="blog-img">
                        </a>
                        <div class="blog-detail">
                            <a href="blog-detail.html"><h2 class="blog-head-two">Provide pure water and fresh food for syrian poor people</h2></a>
                            <span class="blog-span">15 comments &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 24 Likes</span>
                            <p class="blog-p">
                                Aenean aliquam egestas augue, eu venenatis massa maximus sed. Nam convallis massa maximus sed. Nam convallis
                            </p>
                            <a href="blog-detail.html" class="readmore"><i>Read more</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}