{% extends 'base.html' %}
{% block title %}Contact-Us{% endblock title %}
{% load static %}


{% block body %}
    <!-- MAIN START -->
    <main class="main">
        <div class="contact-banner text-left">
            <div class="banner-content">
                <div class="container pl-0">
                    <h1 class="heading-three" style="background-color: red;">Contact Us</h1>
                </div>
            </div>
        </div>
        <div class="contact-part paddingub">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="contact-detail">
                            <div class="data">
                                <img src="{% static 'image/marker-icon.png'  %}" alt="marker">
                                <div class="contact-info">
                                    <h2 class="contact-head-two">Office Address</h2>
                                    <p class="contact-p">203, Envato Labs, Behind Alis Steet,Melbourne,Australia.</p>
                                </div>
                            </div>
                            <div class="data">
                                <img src="{% static 'image/mail-icon.png'  %}" alt="mail">
                                <div class="contact-info">
                                    <h2 class="contact-head-two">Email Address</h2>
                                    <a href="#" class="contact-p">demo@email.com</a>
                                </div>
                            </div>
                            <div class="data">
                                <img src="{% static 'image/phone-icon.png'  %}" alt="phone">
                                <div class="contact-info">
                                    <h2 class="contact-head-two">Phone Number</h2>
                                    <a class="contact-p mb-0" href="tel:+911234567980">+254 714128629</a>
                                    <br>
                                    <a class="contact-p" href="tel:+911234567980">+254 714128629</a>
                                </div>
                            </div>
                        </div>
                        <div class="social-icon">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on google-plus"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-9 col-md-8">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6 pr-lg-3 pr-md-2 pr-1">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6 pl-lg-3 pl-md-1 pl-1">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                            </div>
                            <a href="#" class="contact-submit">SUBMIT</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.4123625001394!2d-122.3946656851953!3d37.6159869290532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f778c55555555%3A0xe47189ad9eeadec8!2sSan+Francisco+International+Airport+Station!5e0!3m2!1sen!2sin!4v1558348922225!5m2!1sen!2sin" height="500" style="border:0;width:100%;" allowfullscreen></iframe>
        </div>
    </main>
    <!-- MAIN END -->

{% endblock  %}



    