{% extends 'base.html' %}
{% load static %}

{% block title %}Team{% endblock title %}

{% block body %}

<!-- MAIN START -->
<main class="main">
    <div class="ourteam-banner text-left">
        <div class="banner-content">
            <div class="container pl-0">
                <h1 class="heading-three">Our Team</h1>
            </div>
        </div>
    </div>
    <div class="team-detail paddingub mob-py-50">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                            <img src="{% static 'image/team-img1.jpg"' %} alt="team">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                            <img src="{% static 'image/team-img2.jpg' %}" alt="team">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                            <img src="{% static 'image/team-img3.jpg' %}" alt="team">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                            <img src="{% static 'image/team-img5.jpg' %}" alt="team">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 img-box">
                    <div class="teamhover teamzoom">
                        <a href="#">
                            <img src="{% static 'image/team-img6.jpg' %}" alt="team">
                        </a>
                        <div class="social-icon text-center product-button">
                            <a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Follow on twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Follow on linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Follow on instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-data mb-0">
                        <a href="#"><h2 class="team-head-two">John Doe <span>- Field Worker</span></h2></a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->

{% endblock body %}